.kaje {
  display: inline-table;
}
.kaje input#edit-submit-picture-password {
  background-color: #00bc00;
}
.page-user .kaje input#edit-submit-picture-password {
  background-color: #00bc00;
  top: 3px;
}

/* Make core "Log in" button wrapper inline */
.not-logged-in div#edit-actions {
  display: inline-table;
  margin-right: 5px;
}
