.kaje-logo-small-green,
.kaje-logo-small-status {
  display: inline-table;
  background: transparent url('../images/Kaje_icon_green_white_25x25.png') 0 0 no-repeat;
  height: 25px;
  width: 30px;
  position: relative;
  top: -3px;
}

.msg-kaje-status {
  color: green;
}
.msg-kaje-warning {
  color: orange;
}
.msg-kaje-error {
  color: red;
}
